html body{
    margin:0 auto 0 auto;
    padding:20px;
    max-width:1024px;
    font-family:'Trebuchet MS',sans-serif;
    font-size:14pt;
    overflow-y:scroll;
}
html body a{
    text-decoration:none;
}
html body a[href]{
    color:#0055AA;
}
html body a[href]:hover{
    color:#0088EE;
}
html body pre{
    background:#FAFAFA;
    border:1px solid #DDDDDD;
    padding:0.75em;
    overflow-x:auto;
}
html body pre >code a[href]{
    color:#223388;
}
article.project h1{
    font-size:1.7em;
}
article.project h1,article.project h2,article.project h3,article.project h4,article.project h5,article.project h6{
    margin:0.2em 0 0.1em 0;
    text-indent:1em;
}
article.project >header{
    text-align:center;
}
article.project >header img.logo{
    display:block;
    margin:auto;
    max-height:170px;
}
article.project >header h1{
    display:inline-block;
    text-indent:0;
    font-size:2.5em;
}
article.project >header .version{
    vertical-align:bottom;
}
article.project >header .languages{
    margin-top:-0.5em;
    text-transform:capitalize;
}
article.project >header .description{
    margin:0;
}
article.project >header .pages{
    margin-top:0.5em;
    font-size:1.2em;
    text-transform:capitalize;
}
article.project >header .pages a{
    display:inline-block;
    padding:0 0.2em;
}
article.project >section{
    margin:1em 0 1em 0;
}
article.project #index >ul{
    list-style:none;
    margin:0;
    padding:0;
}
article.project .row label{
    display:inline-block;
    min-width:8em;
}
article.project #system .row{
    display:flex;
}
article.project #system #dependencies{
    display:inline;
    margin:0;
    padding:0;
}
article.project #system #dependencies li{
    display:inline;
    padding:0 0.2em;
}
article.project #system #author label{
    vertical-align:top;
}
article.project #system #author ul{
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;
}
article.definition{
    margin:1em 0 0 0;
}
article.definition >header h1,article.definition >header h2,article.definition >header h3,article.definition >header h4,article.definition >header h5,article.definition >header h6{
    text-indent:0;
    display:inline-block;
}
article.definition >header ul{
    display:inline-block;
    list-style:none;
    margin:0;
    padding:0;
}
article.definition >header ul li{
    display:inline-block;
    padding:0 0.2em 0 0;
}
article.definition >header .visibility{
    display:none;
}
article.definition >header .visibility,article.definition >header .type{
    text-transform:lowercase;
}
article.definition >header .source-link{
    visibility:hidden;
    float:right;
}
article.definition >header .source-link:after{
    visibility:visible;
    content:"[source]";
}
article.definition .docstring{
    margin:0 0 0 1em;
}
article.definition .docstring pre{
    font-size:0.8em;
    white-space:pre-wrap;
}
.definition.package >header ul.nicknames{
    display:inline-block;
    list-style:none;
    margin:0;
    padding:0 0 0 1em;
}
.definition.package >header ul.nicknames li{
    display:inline;
}
.definition.package >header ul.nicknames:before{
    content:"(";
}
.definition.package >header ul.nicknames:after{
    content:")";
}
.definition.package ul.definitions{
    margin:0;
    list-style:none;
    padding:0 0 0 0.5em;
}
.definition.callable >header .name:before,.definition.type >header .name:before{
    content:"(";
    font-weight:normal;
}
.definition.callable >header .arguments:after,.definition.type >header .arguments:after{
    content:")";
}
.definition.callable >header .arguments .arguments:before,.definition.type >header .arguments .arguments:before{
    content:"(";
}
.definition.callable >header .arguments .argument,.definition.type >header .arguments .argument{
    padding:0;
}
code {
    font-family:'Inconsolata','Consolas',monospace;
}
article.definition header{
    font-family:'Inconsolata','Consolas',monospace;
    font-weight:500;
}
header a.source-link{
    font-family:'Trebuchet MS',sans-serif;
    font-weight:normal;
}
.definition.callable >header .arguments .argument.lambda-list-keyword,.definition.type >header .arguments .argument.lambda-list-keyword{
    color:#991155;
}
.definition li>mark{
    background:none;
    border-left:0.3em solid #0088EE;
    padding-left:0.3em;
    display:block;
}
